@import "bourbon";
@import "fonts.scss";
@import "_vars.scss";
@import "mixins";

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "OpenSansRegular", sans-serif;
	overflow-x: hidden;
	color: $darkGrey;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 15px;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

// .white-bg {
// 	height: 89px;
// 	background: #fff;
// }

// .dark-bg {
// 	height: 39px;
// 	background: $darkGrey;
// }

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	// left: 50%;
	// margin-left: -485px;
	z-index: 2;
}

.top-line {
	@include font(19px, "OpenSansSemibold");
	line-height: 1.2;
	padding: 5px 0 14px;
	background-color: rgba(255,255,255,0.85);
}

.time-schedule {
	@include font(19px, "OpenSansLight");
	float: right;
	margin-right: 24px;
	position: relative;

	&:before {
		top: 5px;
		left: -50px;
		position: absolute;
		display: block;
		width: 48px;
		height: 48px;
		content: '';
		background-image: url('../img/socials-sprite.png');
		background-position: -761px -6px;
		background-size: 270px;
		overflow: hidden;
	}
}

.float-wrap {
	width: 180px;
	text-align: right;
	float: right;
}

.phones {
	margin-bottom: 10px;

	a {
		color: inherit;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: none;
			cursor: default;
		}
	}
}

.email {
	@include font(14px);

	div {
		display: inline-block;
	}

	a {
		color: inherit;
		text-decoration: none;

		&:hover, &:focus {
			text-decoration: underline;
		}
	}

	&:before {
		content: '\2709';
		display: inline-block;
		// font-size: 14px;
	}
}

.bottom-line {
	background-color: rgba(0,0,0,0.8);
	color: #fff;
	@include font(12px);
	position: relative;
}

.logo {
	top: -96px;
	position: absolute;
	width: 212px;
	height: 212px;

	a {
		display: block;
		background: url('../img/logo.jpg') center center no-repeat #000;
		background-size: 265px;
		height: 100%;
		border-radius: 50% 50%;
	}
}

.main-nav {
	@include listToNav;
	margin-left: 200px;

	li {
		transition: background .3s ease;

		&:hover, &:focus {
			background: #4f4f4f;
		}
	}

	.active {
		&:hover, &:focus {
			background: inherit;
		}

		a {
			color: $turquoise;

			&:hover, &:focus {
				cursor: default;
			}
		}
	}

	a {
		@include font(12px);
		text-transform: uppercase;
		padding: 10px 9px;
	}
}

.content {
	margin-top: 128px;
}

.side-bar {
	width: 218px;
	padding-top: 77px;
	text-align: center;
	text-transform: uppercase;
	float: left;

	h2 {
		@include font(16px, "OpenSansBold");
		margin: 0;

		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 110px;
			margin: 10px auto 23px;
			background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(51,51,51,1) 50%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(51,51,51,1) 50%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(51,51,51,1) 50%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
		}
	}

	ul {
		@include listToNav;
		@include font(13px);
		padding: 0 18px;
		margin-bottom: 40px;

		li {
			display: block;
			margin-bottom: 16px;
			border-radius: 5px;
			box-shadow: 0 0 10px 0 #eaeaea;
			transition: background .3s ease;

			&:hover, &:focus {
				background: #f0f0f0;
			}

			a {
				color: $darkGrey;
				display: block;
				padding: 5px 0;
			}
		}

		.active {
			background: $turquoise;

			&:hover, &:focus {
				background: $turquoise;
			}

			a {
				cursor: default;
				color: #fff;
			}
		}
	}
}

main {
	float: right;
	width: 698px;
}

.fotorama {
	z-index: 1;
}

h1 {
	text-align: center;
	margin: 10px 0 0;
	@include font(16px, "OpenSansSemibold");

	&:after {
		margin: 5px 0 10px;
		content: "";
		display: block;
		height: 4px;
		width: 100%;
		background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAECAYAAACtBE5DAAAAH0lEQVQYV2NkgID/QMyIzAZxMARBCmCqMHShaEc2CgCFNwgEHh/xBAAAAABJRU5ErkJggg==) #cfcfcf;
	}
}

.about {
	@include font(12px);
	text-align: justify;
	margin: 0 0 30px;
	line-height: 1.3;
}

.products {
	font-size: 0;
	width: 100%;
	// padding: 0 20px;
	// text-align: center;
}

.product-item {
	display: inline-block;
	margin-bottom: 28px;
	margin-right: 34px;
	color: $darkGrey;
	box-shadow: 0 0 10px 0 #ddd;
	text-decoration: none;

	&:nth-child(3n) {
		margin-right: 0;
	}

	&:hover, &:focus {
		box-shadow: 0 0 10px 0 #ccc;
		transform: translateY(2px);
		transition: all .3s ease;
		// text-decoration: none;
	}

	&:nth-child(1) .product-img {
		background-image: url('../img/001.jpg');
	}

	&:nth-child(2) .product-img {
		background-image: url('../img/002.jpg');
	}

	&:nth-child(3) .product-img {
		background-image: url('../img/003.jpg');
	}

	&:nth-child(4) .product-img {
		background-image: url('../img/004.jpg');
	}

	&:nth-child(5) .product-img {
		background-image: url('../img/005.jpg');
	}

	&:nth-child(6) .product-img {
		background-image: url('../img/006.jpg');
	}

	&:nth-child(7) .product-img {
		background-image: url('../img/007.jpg');
	}

	&:nth-child(8) .product-img {
		background-image: url('../img/008.jpg');
	}

	&:nth-child(9) .product-img {
		background-image: url('../img/009.jpg');
	}

	// &:hover, &:focus {
	// 	// text-decoration: none;
	// 	// color: $darkGrey;
	// }
}

.product-img {
	height: 210px;
	width: 210px;
	background: url('http://via.placeholder.com/210x210') center center no-repeat;
	background-size: contain;
}

.product-desc {
	background: $lightGrey;
	padding: 20px 0 13px;
	text-align: center;
}

.product-title {
	@include font(13px, "OpenSansLight");
	margin-bottom: 5px;
}

.product-type {
	text-transform: lowercase;
}

.product-name {
	text-transform: uppercase;
}

.product-price {
	@include font(18px, "OpenSansBold");
	text-transform: uppercase;
}

.insta-widget {
	margin-bottom: 20px;
}

.insta-title {
	@include font(12px);
	text-align: center;
	color: #fff;
	background: $darkGrey;
	padding: 8px 0;
	margin-bottom: 25px;
}

footer {
	position: relative;
	background: $darkGrey;
	padding: 15px 0 10px;
	color: #fff;

	.left {
		text-align: left;
		float: left;
	}

	.phones, .email {
		color: #fff;
		text-align: left;

		a {
			color: #fff;
		}
	}

	.phones {
		@include font(19px, "OpenSansSemibold");
		margin-bottom: 15px;
		margin-left: 50px;

		a {
			display: block;
			line-height: 1.2;
		}
	}

	.email {
		@include font(14px);

		a {
			color: #fff;

			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
	}

	.copyright {
		@include font(12px);

		p {
			margin: 0;
		}

		a {
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.right {
		text-align: right;
		float: right;
	}
}

.li-counter {
	position: absolute;
	top: 17px;

	img {
		width: 40px;
		height: 40px;
	}
}

.socials {
	margin-bottom: 42px;
}

.socials-list {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-align: right;
}

.socials-item {
	display: inline-block;
	margin-left: 15px;
	transition: all .1s ease-in-out;

	&:hover {
		transform: translateY(1px);
	}
}

.socials-link {
	display: block;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background: url('../img/socials-sprite.png') no-repeat;
	background-size: 340px;
	transition: opacity .1s ease-in-out;

	&:hover, &:focus {
		text-decoration: none;
	}
}

.yt-btn {
	background-position: -8px -8px;

	&:hover {
		opacity: .8;
	}
}

.ok-btn {
	background-position: -62px -8px;

	&:hover {
		opacity: .8;
	}
}

.vk-btn {
	background-position: -117px -8px;

	&:hover {
		opacity: .8;
	}
}

.tw-btn {
	background-position: -173px -8px;

	&:hover {
		opacity: .8;
	}
}

.ig-btn {
	background-position: -230px -8px;

	&:hover {
		opacity: .8;
	}
}

.legal {
	text-align: right;
	color: #fff;
	font-size: 10px;
	font-family: "OpenSansLight", sans-serif;
}

.gallery {
	margin-top: 30px;

	a {
		outline: none;
	}
}

.hidden {
	display: none;
}
